<?php
$flexLayout = $this->getFlexLayout();

if ($flexLayout[acf_fc_layout] == "fct_text_image") {
    echo '<div class="fct-text-image fct-half">';
    echo '<h2 class="fct-title">' . $flexLayout[fct_text_title] . '</h2>';
    echo '<div class="fct-content">' . $flexLayout[fct_text_content] . '</div>';
    if ($flexLayout[fct_text_image]):

        $PostImageData = Mage::getModel('wordpress/post')->setPostType('attachment')->load($flexLayout[fct_text_image])->getData();
        $imageUrl = $PostImageData['guid'];
        ?>

        <img src="<?php echo $imageUrl; ?>" />
        <?php
    endif;
    echo '</div>';
}
?>