<?php
$flexLayout = $this->getFlexLayout();

if ($flexLayout[acf_fc_layout] == "call_to_action_banner") {
    if ($flexLayout[call_to_action_background_image]):
        echo '<div class="fct-call-to-action">';
        $PostImageData = Mage::getModel('wordpress/post')->setPostType('attachment')->load($flexLayout[call_to_action_background_image])->getData();
        $imageUrl = $PostImageData['guid'];
        ?>

        <img src="<?php echo $imageUrl; ?>" />
        <?php
    endif;
    echo '<div class="background-overlay">';
    echo '<h2 class="fct-title">' . $flexLayout[fct_text_title] . '</h2>';
    echo '<a class="fct-cta-button" href=" ' . $flexLayout[button_link_location] . '">' . $flexLayout[fct_button_text] . '</a>';
    echo '</div>';
    echo '</div>';
}
